<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client %>
</p>

<p>
  <strong>Color:</strong>
  <%= @project.color %>
</p>

<p>
  <strong>Color border:</strong>
  <%= @project.color_border %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<%= link_to t('edit'), edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
