<%= render 'header' %>

<table class="table table-striped table-hover">
  <thead>
  <tr>
    <% if params[:group_month] %>
        <th>Ano</th>
        <th>Mês</th>
    <% end %>
    <th>Projeto</th>
    <th>Horas consumidas</th>
  </tr>
  </thead>
  <% total = 0 %>
  <% if @results.size > 0 %>
      <tbody>
      <% @results.each do |result| %>
          <% total += result[1] %>
          <tr>
            <% if params[:group_month] %>
                <td><%= result[2] %></td>
                <td><%= result[3] %></td>
            <% end %>
            <td><%= result[0] %></td>
            <td><%= number_with_precision(result[1].to_f / 3600, precision: 2, delimiter: '') %></td>
          </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <th colspan="<%= @results.first.size - 1 %>"></th>
        <th><%= number_with_precision(total.to_f / 3600, precision: 2, delimiter: '') %></th>
      </tr>
      </tfoot>
  <% end %>
</table>
