<!DOCTYPE html>
<html>
<head>
  <title>Busycal</title>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <%= stylesheet_link_tag 'application', media: 'all' %>

</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Busycal</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <a href="<%= edit_user_registration_path %>">Profile</a></li>
        <% if current_user.admin? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Visualizar como
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% users_list.each do |user| %>
                    <li>
                      <%= link_to user.name, root_path(user: user.id) %>
                    </li>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin
                <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="<%= projects_path %>">Projetos</a></li>
                <li><a href="<%= phases_path %>">Fases</a></li>
                <li><a href="<%= clients_path %>">Clientes</a></li>
                <li><a href="<%= profiles_path %>">Usuários</a></li>
              </ul>
            </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="<%= logout_path %>">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">
  <%= content_tag :div, notice, class: 'alert alert-info', role: 'role' if notice.present? %>
  <%= content_tag :div, alert, class: 'alert alert-danger', role: 'role' if alert.present? %>
  <%= yield %>
</div>

<%= yield :before_javascript %>
<%= javascript_include_tag 'application' %>
<%= yield :javascript %>

</body>
</html>