<!DOCTYPE html>
<html>
<head>
  <title>Busycal</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#03c98a">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
<div class="container-fluid">
  <%= content_tag :div, notice, class: 'alert alert-info', role: 'role' if notice.present? %>
  <%= content_tag :div, alert, class: 'alert alert-danger', role: 'role' if alert.present? %>
  <%= yield %>
</div>

<%= yield :before_javascript %>
<%= javascript_include_tag 'application' %>
<%= yield :javascript %>

</body>
</html>
